* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: #1f1f1f;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.container {
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  padding: 10px 20px;

  /* glass styling */
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.34);
}

.skill_title{
    color: #eee !important;
}

.skill_box {
  margin-block: 1.5rem;
}
.skill_title {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  display: block;
}
.skill_bar {
  width: 100%;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  /* border-radius: 15px; */
  margin-top: 6px;

  /* glass effect */
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.34);

  /* align verticaly center */
  display: flex;
  align-items: center;
}
.skill_progress {
  background-color: #40dff4;
  height: 8px;
  border-radius: 6px;
  position: relative;
  width: 90%;
  margin: 0 4px;
  outline: 1px solid #3936e9;
}
